@model IPagedList<BenefitVm>

<div id="benefitTable" class="box-body table-responsive no-padding">
<table class="table table-hover table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            @Html.Partial("_Benefit", item)
        }
    </table>

    <div class="pagedList" data-pl-target="#benefitTable">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true
        })
    </div>
</div>

